<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pack</title>
  <style>
    [v-cloak] { display: none; }
  </style>
</head>
<body>
  <h1 id="title" v-cloak>{{ title }}</h1>

  <div id="tags-container" v-cloak>
    <template v-for="tag in tags">
      <span class="tag" :class="{selected: tag.selected}" @click="clickTag(tag)" @dblclick="clickRemove(tag)">
        {{ tag.text }}
      </span>
    </template>

    <div class="display-panel">
      <template v-for="tag in selectedTags">
        <div class="tag" :class="{selected: tag.selected}">
          {{ tag.text }}
          <span class="remove" @click="clickRemove(tag)">&times;</span>
        </div>
      </template>
    </div>

    <div class="progress-bar">
      <div class="progress-bar-inner" :style="selectedPercentage"></div>
    </div>

    <div>
      {{ tags | json }}
    </div>
    <div>
      {{ selectedPercentage | json }}
    </div>
  </div>


  <script type="text/javascript" src="/assets/tags.js" charset="utf-8"></script>

</body>
</html>
