<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pack</title>
</head>
<body class="pure">
  <div id="app">
    {{ message }}
  </div>

  <div id="example">
    <my-component></my-component>
  </div>

  <div id="form-container">
    <form class="pure-form" @submit.prevent>
      <label for="name">Name</label>
      <input v-model="name" type="text" id="name" name="name">
      <input @click="click" type="submit" :value="name" class="pure-button">
    </form>
    {{ name }}
  </div>

  <div id="clock">
    <code>{{ now }}</code>
  </div>

  <div id="select-form">
    <span>
      Selected: {{ selected }}
    </span>
    <form class="pure-form" @submit.prevent>
      <select v-model="selected" name="number" id="number">
        <option v-for="option in options" :value="option.value">
          {{ option.text }}
        </option>
      </select>
    </form>
  </div>

  <div id="location-form">
    <span>
      Current location: {{ currentLocation() }}
    </span>
    <form @submit.prevent class="pure-form pure-form-aligned">
      <div class="pure-control-group">
        <label @click="clickLabel(selectedLocation)" for="location">Location</label>
        <select v-model="selectedLocation" id="location">
          <option v-for="option in locationOptions" :value="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>

      <div v-if="showOther()" class="pure-control-group">
        <label @click="clickLabel(otherLocation)" for="other-location">Other Location</label>
        <input v-model="otherLocation" id="other-location" type="text">
      </div>

      <div class="pure-controls">
        <button type="submit" class="pure-button">Submit</button>
      </div>
    </form>
  </div>

  <div id="textarea-form">
    <hr>
    <span>{{ text }}</span>
    <form @submit.prevent class="pure-form pure-form-aligned">
      <div class="pure-control-group">
        <label v-for="f in frameworks">
          <input type="radio" :value="f" v-model="framework">
          {{ f }}
        </label>
      </div>

      <div v-if="framework">
        <div class="pure-control-group">
          <select v-model="language">
            <option v-for="option in languageOptions" :value="option">{{ option }}</option>
          </select>

          <select v-if="showEs" v-model="es">
            <option v-for="option in esOptions" :value="option">{{ option }}</option>
          </select>
        </div>
        <textarea v-model="text"></textarea>
      </div>

    </form>
  </div>

<template id="my-component">
  <div>A custom component!</div>
</template>
<script type="text/javascript" src="/assets/vue-app.js" charset="utf-8"></script>

</body>
</html>
